{% extends 'main/base.html' %} {% block title %}Home Page{% endblock %} 
{% block content %} {% for post in posts %}
<div class="card shadow mt-2">
  <div class="card-header d-flex flex-row justify-content-between">
    <div><strong>@{{ post.author.username }}</strong></div>
    <div class="text-muted">{{post.created_at}}</div>
  </div>
  <div class="card-body d-flex flex-row justify-content-between">
    <div>
      <h3 class="card-title">{{post.title}}</h3>
      <p class="ml-5">{{post.description}}</p>
    </div>
    <div>
      {% if user == post.author or perms.main.delete_post %}
      <form method="post">
        {% csrf_token %}
        <button
          type="submit"
          class="btn btn-outline-danger"
          name="post-id"
          value="{{post.id}}"
        >
          Delete
        </button>
      </form>
      {% endif %}
      {% if user.is_staff %}
      <form method="post">
        {% csrf_token %}
        <button
          type="submit"
          class="btn btn-outline-warning"
          name="user-id"
          value="{{post.author.id}}"
        >
          Ban User
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  <div class="card-footer">
    <ul class="list-group list-group-flush" style="border-radius: 10px;">
      {% for comment in comments %}
        {% if post.id == comment.post.id %}
          <li class="list-group-item m-2 comment">
            <strong>@{{ comment.author.username }}</strong>
            <p class="ml-5">{{ comment.description }}</p>
          </li>
        {% endif %}
      {% endfor %}
      <button
      class="btn btn-outline-primary"
      value="{{post.id}}">
      Comment
      </button>
  </div>
</div>
{% empty %}
<p>No posts yet :(</p>
{% endfor %} {% endblock %}
